@import url("./fonts.css");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	/* color: #242424; */
	text-align: center;
	font-family: "Lexend-Zetta";
	font-size: 11.25rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	align-self: center;
	letter-spacing: -10px;
}

h3 {
	text-align: center;
	font-family: "Lexend-Deca";
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	align-self: center;
}

h2 {
	text-align: center;
	font-family: "Lexend-Zetta";
	font-size: 1.8rem;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	letter-spacing: 5px;
	align-self: center;
}

h4 {
	text-align: center;
	font-family: Lexend-Deca;
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	align-self: center;
}

h5 {
	align-self: flex-start;
	text-align: left;
	margin-top: 2rem;
	font-family: Lexend-Deca;
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

p {
	font-family: Lexend-Deca;
	font-size: 0.9rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.error {
	align-self: center;
	color: #c77b7b;
	font-family: "Lexend-Zetta";
	text-align: center;
}

.flex {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	margin: 0 auto;
	max-width: 75vw;
	gap: 10px;
}

.box {
	display: flex;
	padding: 50px 50px;
	align-self: center;
	align-items: center;
	justify-content: center;
	gap: 3.25rem;
	border-radius: 0.625rem;
	background: rgba(210, 209, 209, 0.2);
}

.summaryBox {
	display: flex;
	gap: 0.8rem;
	flex-direction: column;
	align-self: center;
}

.boxItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.smallText {
	line-height: 1.2rem;
	font-weight: 700;
}

.h1-placeholder {
	background-color: rgba(42, 42, 42, 0.7);
	border-radius: 4px;
	height: 12.25rem;
	aspect-ratio: 1.2;
	background: linear-gradient(
		90deg,
		rgba(42, 42, 42, 0.2) 25%,
		rgba(58, 58, 58, 0.2) 50%,
		rgba(42, 42, 42, 0.2) 75%
	);

	animation: shimmer 1.5s infinite;
	display: inline-block;

	vertical-align: middle;
}
.h2-placeholder {
	background-color: rgba(42, 42, 42, 0.2);
	border-radius: 4px;
	margin-bottom: 5%;

	height: 1.8rem;
	aspect-ratio: 8;

	background: linear-gradient(
		90deg,
		rgba(42, 42, 42, 0.2) 25%,
		rgba(58, 58, 58, 0.2) 50%,
		rgba(42, 42, 42, 0.2) 75%
	);

	animation: shimmer 1.5s infinite;
	display: inline-block;
	vertical-align: middle;
}

.data-placeholder {
	background-color: rgba(42, 42, 42, 0.2);
	border-radius: 4px;
	width: 100%;
	height: 1.8rem;
	margin: 0.5em 1px 1em;
	background: linear-gradient(
		90deg,
		rgba(42, 42, 42, 0.2) 25%,
		rgba(58, 58, 58, 0.2) 50%,
		rgba(42, 42, 42, 0.2) 75%
	);
	background-size: 200% 100%;
	animation: shimmer 1.5s infinite;
	display: inline-block;
	vertical-align: middle;
}

.h3-placeholder,
.h4-placeholder {
	background-color: rgba(42, 42, 42, 0.7);
	border-radius: 4px;
	width: 40%; /* Adjust as needed */
	height: 0.75rem;
	background: linear-gradient(
		90deg,
		rgba(42, 42, 42, 0.7) 25%,
		rgba(58, 58, 58, 0.7) 50%,
		rgba(42, 42, 42, 0.7) 75%
	);
	background-size: 200% 100%;
	animation: shimmer 1.5s infinite;
	display: inline-block;
	vertical-align: middle;
}

@keyframes shimmer {
	0% {
		background-position: -200% 0;
	}
	100% {
		background-position: 200% 0;
	}
}
